## unnecessary folders
src/
node_modules/
.vscode/
tests/
build/

## config files
.eslintrc.json
tsconfig.json
tsconfig.base.json

## informational files
package-lock.json

## 'ignore' files
.npmignore
.gitignore
.eslintignore

## build script
build.ps1
