## unnecessary folders
src/
node_modules/
.vscode/
tests/
build/

## config files
.eslintrc.json
tsconfig.json
tsconfig.base.json

## informational files
package-lock.json

## 'ignore' files
.npmignore
.gitignore
.eslintignore

## scripts
build.ps1
fix-lineendings.ps1

## tarball
dot-not-*.tgz

## folders unnecessary in the build
src/
tests/
